*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: yellow;
    width: 1400px;
    margin:auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

.header_container {
   width: 33%;
   display: flex;
   justify-content:center; 
  }
#container_image {
   width: 300px;
   justify-content: center; 
   }

img {
    width: 100%;
    justify-content: center;
    }

ul {
    list-style: none;
    margin: 10px;
    display: flex;
    justify-content: space-between
    }

#suscribe {
    background-color: #ffd900;
    border-radius: 2px;
    margin-left: 10px;
    padding: 10px;
}
#connect {
    border-right: 2px black solid;
    padding: 10px;
}