*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: yellow;
    width: 1400px;
    margin:auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

.header_container {
   width: 33%; 
}
#container_image {
   width: 300px;
   justify-content: center; 
   }

img {
    width: 100%;
    justify-content: center;
    }

ul {
    list-style: none;
    display: flex;
    }